/* Styles go here */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  padding-left: 15px;
}

#my-mood {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}

.md-toolbar-text {
  text-align: center;
}


/* conical image https://leaverou.github.io/conic-gradient/*/

.svg-mood-map-chart {
  /*background-color: #eee;*/
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 50%
}

svg text {
  font: 10px sans-serif;
}

svg text {
  color: red;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
}

.y_axis path,
.y_axis line {
  fill: none;
  stroke: #999;
}

.y_axis text {
  fill: black;
}


/*
.axis text {
  fill: rgb(169, 178, 189);
}
*/

.tick {
  font: 10px sans-serif;
}

div .chart {
  width: 500px;
}

.chart div {
  font: 10px sans-serif;
  background-color: rgb(182, 215, 187);
  text-align: right;
  padding: 6px;
  margin: 1px;
  /*color: white;*/
}


/* focus */

.overlay {
  fill: none;
  pointer-events: all;
}

focus_text {
  font: 10px sans-serif;
  fill: #757575;
}

.focus_circle {
  fill: red;
  /* rgba(255, 255, 255, 0.7);*/
  stroke: rgba(0, 0, 0, 0.09);
  stroke-width: 1.5px;
}

md-button .bar_chart {
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.bar_chart_level {
  border-radius: 80%;
  padding: 5px;
  text-align: center;
  background: rgb(50, 107, 132);
  -moz-border-radius: 50%;
  font-size: 1.1em;
  color: white;
}

.stop-left {
  stop-color: #3f51b5;
  /* Indigo */
}

.stop-right {
  stop-color: #009688;
  /* Teal */
}

.filled {
  background-color: url(#mainGradient);
}

.outlined {
  fill: none;
  stroke: url(#mainGradient);
  stroke-width: 4;
}

.x_left_label,
.x_right_label,
.y_top_label,
.y_bottom_label {
  fill: black;
  /*rgb(35, 58, 134)*/
  letter-spacing: .020em;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 3px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #757575;
  pointer-events: none;
  border-radius: 2px;
  color: #fff;
}


/* Creates a small triangle extender for the tooltip */

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 11;
  width: 100%;
  line-height: 1;
  color: #757575;
  content: "\25bc";
  position: absolute;
  text-align: center;
  margin-left: -48px;
  margin-top: 13px;
}


/* Style northward tooltips differently */

.tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.svg_chart_reflection {
  background-color: aqua;
}

.svg_chart_reflection {
  background: #b0e0f8;
  margin: 5px;
}

.svg_chart_reflection rect {
  stroke: white;
  fill: steelblue;
}

.svg_chart_reflection text {
  fill: white;
}


/*
* discret emotions
* ---------------------------
*/

._md-slider-wrapper canvas {
  display: none;
}

md-tooltip {
  font: 10px sans-serif;
  padding: 0px;
  margin: 0px;
}

md-tooltip .md-content {
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 3px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #757575;
  pointer-events: none;
  border-radius: 2px;
  color: #fff;
}
